body {
  background-image: url(assets/images/img3.jpg);
  height: 100%;
}

.carine {

  background-color:rgb(253, 242, 253);
   color: rgb(7, 23, 35);
   border: 1px solid rgb(0, 102, 176);
   border-radius: 20px;
   font-weight: 700;
   opacity: 0.6;
   text-align: center;
 width:8rem
   

}

button {
  color: rgb(7, 23, 35);
  background-color:rgb(251, 231, 251);
  border: 1px solid rgb(0, 102, 176);
  border-radius: 10px;
  width: 20%;
  margin : 15px;
  height: 40px;
  text-align: center;
  font-weight: 600;
  font-size: larger;
  opacity: 0.9;
}

input {
  background-color:rgb(251, 231, 251);
  color: rgb(0, 102, 176);
  border: 1px solid rgb(0, 102, 176);
  width: 50%;
  height: 40px;
  border-radius: 10px;
  margin-left: 20%;
  font-weight: 600;
  font-size: larger;
 
}

h2{
  text-align: center;
  color:rgb(7, 23, 35);
  font-weight: bolder;
  font-size: 2rem;
  background-color: rgb(251, 231, 251);
  border-radius: 10px;
  opacity: 0.6;
  
}




.descrizione{
  text-align: center;
  color:rgb(7, 23, 35);
  background-color: rgb(251, 231, 251);
  border-radius: 10px;
  opacity:0.6


  
}

.centro {
  text-align: center;
}


.destra {
  margin-left: 77%;
}

@media (max-width: 767px) {
  #prova {
    display: block;
  }
}




.spazi, .chart {
  justify-content: center;
  
}


.margine {
  margin-top: 3%;
}

h3 {
  color:rgb(7, 23, 35);
}

.grafico {
  background-color: rgb(251, 231, 251);
  border-radius: 20px;
  opacity:0.6;
  border: 1px solid rgb(0, 102, 176);
  margin-top: -2%;
  padding-top: 2%;
  padding-right: 4vw;
}

.city {
  border: 1px solid rgb(0, 102, 176);
}